---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=test-user%40example.com&name=test-user
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-08-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 9c5ad2ca-be53-456e-bb62-a18fcdbc5183
      Original-Request:
      - req_Zxw1i1BkbkLdEr
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-08-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_OoP7pi3NtT0BIG",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1697207169,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "test-user@example.com",
          "invoice_prefix": "74131C35",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "test-user",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Fri, 13 Oct 2023 14:26:09 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_card_visa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-08-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-08-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1O0mJZGNdl6Ndahfb1POWDhC",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 10,
            "exp_year": 2024,
            "fingerprint": "QevXzBJHDENmWdLD",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1697207169,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Fri, 13 Oct 2023 14:26:09 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_1O0mJZGNdl6Ndahfb1POWDhC/attach
    body:
      encoding: UTF-8
      string: customer=cus_OoP7pi3NtT0BIG
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-08-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
  [...]
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_OoP7pi3NtT0BIG
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-08-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-08-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_OoP7pi3NtT0BIG",
          "object": "customer",
          "deleted": true
        }
  recorded_at: Fri, 13 Oct 2023 14:26:11 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/test_helpers/test_clocks
    body:
      encoding: UTF-8
      string: frozen_time=1697207171&name=vcr_sw_fence_1697207171_beVQDwUTU1oIAHbM
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-08-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a4b8e83b-51f6-4a83-a0bc-879284445924
      Original-Request:
      - req_Tfd3HFbCPeg12q
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-08-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "clock_1O0mJbGNdl6NdahfiAxDBQMs",
          "object": "test_helpers.test_clock",
          "created": 1697207171,
          "deletes_after": 1699799171,
          "frozen_time": 1697207171,
          "livemode": false,
          "name": "vcr_sw_fence_1697207171_beVQDwUTU1oIAHbM",
          "status": "ready"
        }
  recorded_at: Fri, 13 Oct 2023 14:26:11 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/test_helpers/test_clocks/clock_1O0mJbGNdl6NdahfiAxDBQMs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-08-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-08-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "clock_1O0mJbGNdl6NdahfiAxDBQMs",
          "object": "test_helpers.test_clock",
          "deleted": true
        }
  recorded_at: Fri, 13 Oct 2023 14:26:11 GMT
recorded_with: VCR 6.2.0
