---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=test-user%40example.com&name=test-user
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-06-20'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c498385b-7dbc-4e0c-b583-1af43b382f02
      Original-Request:
      - req_bRQPsEAVDAReui
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2024-06-20'
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_RJgkV2z3TtuW2E",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1733021921,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "test-user@example.com",
          "invoice_prefix": "B3F96145",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "test-user",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Sun, 01 Dec 2024 02:58:41 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_card_visa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-06-20'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2024-06-20'
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1QR3MrDXtQamuGa2sqOcjcLa",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2025,
            "fingerprint": "STCRJcBoUe0ghes7",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1733021921,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Sun, 01 Dec 2024 02:58:41 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_1QR3MrDXtQamuGa2sqOcjcLa/attach
    body:
      encoding: UTF-8
      string: customer=cus_RJgkV2z3TtuW2E
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-06-20'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
  [...]
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_RJgkV2z3TtuW2E
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-06-20'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2024-06-20'
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_RJgkV2z3TtuW2E",
          "object": "customer",
          "deleted": true
        }
  recorded_at: Sun, 01 Dec 2024 02:58:43 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/test_helpers/test_clocks
    body:
      encoding: UTF-8
      string: frozen_time=1733021923&name=vcr_sw_fence_1733021923_5i0G649B29O10a0w
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-06-20'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 18f33124-232c-4c3a-90e0-2ab15cbf954e
      Original-Request:
      - req_xxUYnxp561tzhx
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2024-06-20'
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "clock_1QR3MtDXtQamuGa2MY9iKvRY",
          "object": "test_helpers.test_clock",
          "created": 1733021923,
          "deletes_after": 1735613923,
          "frozen_time": 1733021923,
          "livemode": false,
          "name": "vcr_sw_fence_1733021923_5i0G649B29O10a0w",
          "status": "ready",
          "status_details": {}
        }
  recorded_at: Sun, 01 Dec 2024 02:58:43 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/test_helpers/test_clocks/clock_1QR3MtDXtQamuGa2MY9iKvRY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-06-20'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2024-06-20'
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "clock_1QR3MtDXtQamuGa2MY9iKvRY",
          "object": "test_helpers.test_clock",
          "deleted": true
        }
  recorded_at: Sun, 01 Dec 2024 02:58:43 GMT
recorded_with: VCR 6.3.1
