---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=test-user%40example.com&name=test-user
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-08-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 4a2b0f6e-6a82-4880-acbd-b75539ad8de6
      Original-Request:
      - req_Fzkg2pu48BtNpb
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-08-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_OlJdp1cFIpU1WC",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1696494848,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "test-user@example.com",
          "invoice_prefix": "EC522BB8",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "test-user",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Thu, 05 Oct 2023 08:34:08 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_OlJdp1cFIpU1WC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-08-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-08-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_OlJdp1cFIpU1WC",
          "object": "customer",
          "deleted": true
        }
  recorded_at: Thu, 05 Oct 2023 08:34:09 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/test_helpers/test_clocks
    body:
      encoding: UTF-8
      string: frozen_time=1696494849&name=vcr_sw_fence_1696494849_dpm8WvEPNOeQBW0O
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-08-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - dea8cdfc-c755-4c8c-97ae-97d890282cff
      Original-Request:
      - req_YT9ERoLzGnSaPh
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-08-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "clock_1Nxn0XGNdl6NdahfvRF0iaR4",
          "object": "test_helpers.test_clock",
          "created": 1696494849,
          "deletes_after": 1699086849,
          "frozen_time": 1696494849,
          "livemode": false,
          "name": "vcr_sw_fence_1696494849_dpm8WvEPNOeQBW0O",
          "status": "ready"
        }
  recorded_at: Thu, 05 Oct 2023 08:34:09 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/test_helpers/test_clocks/clock_1Nxn0XGNdl6NdahfvRF0iaR4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-08-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-08-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "clock_1Nxn0XGNdl6NdahfvRF0iaR4",
          "object": "test_helpers.test_clock",
          "deleted": true
        }
  recorded_at: Thu, 05 Oct 2023 08:34:09 GMT
recorded_with: VCR 6.2.0
