---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=test-user%40example.com&name=test-user
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-06-20'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f5de3b7e-2aa8-425e-b4cb-09e9847515fb
      Original-Request:
      - req_F7jEozmKbtodHj
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2024-06-20'
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_RJgkocsnNqLA6l",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1733021919,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "test-user@example.com",
          "invoice_prefix": "38C92A82",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "test-user",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Sun, 01 Dec 2024 02:58:39 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_RJgkocsnNqLA6l
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-06-20'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2024-06-20'
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_RJgkocsnNqLA6l",
          "object": "customer",
          "deleted": true
        }
  recorded_at: Sun, 01 Dec 2024 02:58:40 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/test_helpers/test_clocks
    body:
      encoding: UTF-8
      string: frozen_time=1733021920&name=vcr_sw_fence_1733021920_O30X2vYUtTuYWP1C
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-06-20'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 3e8e8f6a-f57c-48b6-818c-6b8774157df9
      Original-Request:
      - req_HyfglgBQ6JjJh9
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2024-06-20'
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "clock_1QR3MqDXtQamuGa22UtgG7lu",
          "object": "test_helpers.test_clock",
          "created": 1733021920,
          "deletes_after": 1735613920,
          "frozen_time": 1733021920,
          "livemode": false,
          "name": "vcr_sw_fence_1733021920_O30X2vYUtTuYWP1C",
          "status": "ready",
          "status_details": {}
        }
  recorded_at: Sun, 01 Dec 2024 02:58:40 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/test_helpers/test_clocks/clock_1QR3MqDXtQamuGa22UtgG7lu
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-06-20'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2024-06-20'
      X-Wc:
      - A
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "clock_1QR3MqDXtQamuGa22UtgG7lu",
          "object": "test_helpers.test_clock",
          "deleted": true
        }
  recorded_at: Sun, 01 Dec 2024 02:58:41 GMT
recorded_with: VCR 6.3.1
